<mat-accordion>
	<mat-expansion-panel class="container" *ngFor="let module of data">
		<mat-expansion-panel-header>
			{{module.module}}
		</mat-expansion-panel-header>

		<div class="po-details" *ngIf="module.type==='table'">
			<div class="po-item" *ngFor="let moduleKey of getKeys(module.moduleData[0])">
				<div class="po-header"> {{ moduleKey }} </div>
				<div class="po-value"> {{module.moduleData[0][moduleKey]}} </div>
			</div>
		</div>

		<div class="row bs-wizard" style="border-bottom:0;" *ngIf="module.type==='horizontal-stepper'">   
			<div [ngClass]="'col-xs-3 bs-wizard-step' + getStatusClass(step, index, module.TransportData)" *ngFor="let step of module.TransportData; let index = index">
			  <div class="progress"><div class="progress-bar"></div></div>
			  <div class="bs-wizard-dot">{{step.step}}</div>
			  <div class="bs-wizard-info text-center" *ngIf="isActive(step.status, index, module.TransportData)">{{step.description}}</div>
			</div>
		</div>

		<div class="bs-vertical-wizard" style="border-bottom:0;" *ngIf="module.type==='vertical-stepper'">
			<div [ngClass]="'col bs-vertical-wizard-step' + getStatusClass(step, index, module.CompleteData)" *ngFor="let step of module.CompleteData; let index = index">
				<div>
					<div class="bs-vertical-wizard-dot">{{step.step}}</div>
					<div class="progress"><div class="progress-bar"></div></div>
				</div>	
			  <div class="bs-vertical-wizard-info text-center" >{{step.description}}</div>
			</div>
		</div>

	</mat-expansion-panel>

</mat-accordion>